__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.venv/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.sqlite3
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.ipynb
*.nbi
*.nbd
*.nbk
*.nbb
*.nbc
*.nbx
*.nbt
*.nbh
*.nbm
*.nbs
*.nbv
*.nbf
*.nba
*.nbp
*.nbr
*.nbu
*.nbw
*.nbz
*.swp
*.swo
*~
