streamlit
PyMuPDF
transformers
sentence-transformers
sentencepiece
datasets
rouge-score
nltk
accelerate
spacy
langdetect
pytesseract
pdf2image
faiss-cpu
wordcloud
reportlab
scikit-learn
yt-dlp
openai-whisper
pydub
evaluate
google-generativeai
bert-score
torch
torchvision
torchaudio
Pillow
matplotlib
tqdm
requests
python-dotenv
